@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Press+Start+2P&family=Silkscreen&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-heading-font: 'Press Start 2P';
    --heading-font: 'Silkscreen';
    --paragraph-font: 'Josefin Sans';
    --main-color: black;  
    --seccondary-color: white;
    --accent-color: #b3051c;
    scroll-behavior: smooth;
    scroll-padding-top: 4rem;
    color-scheme: dark;
    transition: all 2s;
}

/* global styles */

p {
    max-width: 60ch;
    font-size: 1.1rem;
    font-family: var(--paragraph-font), sans-serif;
}

h1 {
    color: whitesmoke;
    font-family: var(--main-heading-font), cursive;
    text-transform: capitalize;
    border-radius: 100vmax;
    backdrop-filter: blur(5px);
    padding: 15px;
}

h2 {
    font-family: var(--heading-font), cursive;
    margin-bottom: .6rem;
}

.proyects-section h2,
.tech-section h2 {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 3rem;
}

li {
    list-style: none;
}

section {
    margin: 3rem;
}

/* navbar styles */

#navgap {
    height: 50px;
    width: 100%;
}

.main-nav {
    display: flex;
    width: 100%;
    height: 50px;
    position: fixed;
    background-color: var(--main-color);
    z-index: 1;
    top: 0;
}

.main-nav a {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    color: whitesmoke;
    position: relative;
    text-decoration: none;
    text-transform: capitalize;
    font-family: var(--paragraph-font), sans-serif;
    font-size: 1.2rem;
    overflow: hidden;
}

.main-nav li {
    display: flex;
    align-items: center;
    height: 100%;
}

.main-nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: max(800px, 100%);
    margin-left: 1rem;
}

.main-nav li a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 40%;
    background-color: whitesmoke;
    bottom: 13px;
    right: -100%;
    transition: all 400ms;
}

.main-nav li:hover a::before {
    right: 0;
} 

.menu-container {
    display: flex;
    width: 30%;
    justify-content: flex-end;
    align-items: center;
}

.options-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    opacity: 0;
    position: fixed;
    z-index: -1;
    top: -270px;
    right: 1rem;
    transition: all 1s;
}

.options-menu button {
    border: 0;
    background-color: transparent;
    padding: 20px 30px;
    font-size: 1.3rem;
    cursor: pointer;
    position: relative;
    color: whitesmoke;
    overflow: hidden;
    /* transition: all 500ms; */
}

.options-menu button > div {
    width: 3rem;
    height: 1.5rem;
    display: inline-block;
    background: #181818;
    outline: 3px solid #181818;
    border-radius: 100vmax;
    margin-left: 1rem;
    transition: all .5s;
    position: relative;
}

.options-menu button > div > span {
    position: absolute;
    height: 100%;
    aspect-ratio: 1;
    background-color: var(--accent-color);
    border-radius: 50%;
    left: 0;
    transition: all .5s;
}

.options-menu button:hover {
    background-color: #413b3b;
}

.options-menu button+button::before {
    content: '';
    position: absolute;
    width: 100%;
    inset: 0;
    height: 5px;
    background-color: #181818;
    outline: 3px solid #413b3b;
}

#menu {
    margin-right: 30px;
    background: none;
    border: none;
    cursor: pointer;
    border-radius: 10px;   
}

#menu svg {
    color: whitesmoke;
    transition: all 1s;
}

.menu-container:focus-within svg{
    rotate: 360deg;
}

.menu-container:focus-within .options-menu {
    top: 50px;    
    opacity: 1;
}

/* hero and banner styles */

#hero {
    display: flex;
    flex-wrap: wrap;
    height: 30rem;
    align-items: center;
    justify-content: space-around;
    background-image: url(/resources/imgs/hero-img.jpg);
    background-size: cover;

}

#slider {
    display: flex;
    align-items: center;
    justify-content: center;
}

#slider svg {
    filter: drop-shadow(0 0 4px);
    color: whitesmoke;
    cursor: pointer;
    z-index: 1;
}

#slider button {
    border: none;
    background-color: transparent;
}

#slider button:active {
    scale: 0.95;
}

.img-container {
    display: flex;
    height: 14rem;
    width: 14rem;
    margin: 0 7px 0 0;
    overflow: hidden;
}

.img-container img {
    position: relative;
    /* animation: fw 1s */
}


@keyframes backward {
    from {right: -100%;}
    to {right: 0;}
}

@keyframes forward {
    from {left: -100%;}
    to {left: 0;}
}

@keyframes fw {
    100% {
        transform: translate(100%);
    }
}

@keyframes bw {
    100% {
        transform: translate(-100%);
    }
}

/* about me styles */

.about-me {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap: 4rem;
}

.circle-img {
    margin-top: 2rem;
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    padding: 30px;
    border: 5px solid var(--seccondary-color);
    background-image: url(/resources/imgs/con-un-abanico.jpeg);
    background-size: cover;
}

/* tech section styles */

.tech-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 4rem;
}

.technology-card {
    height: 13rem;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.technology-card img {
    width: auto;
    height: 100%;
}

.tech-info {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff00;
    position: absolute;
    bottom: -100%;
    transition: transform 1s ease, color 500ms 1s;
}

.tech-info.high {
    background-color: hsla(120, 84%, 50%, 0.87);
}

.tech-info.intermediate {
    background-color: hsla(39, 99%, 46%, 0.87);
}

.tech-info.low {
    background-color: hsla(0, 91%, 31%, 0.87);
}

.technology-card:hover .tech-info {
    transform: translateY(-100%);
    color: white;
}

/* proyects section style */

.proyects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 2rem;
}

.proyect-card {
    display: flex;
    position: relative;
    align-items: center;
    width: 20rem;
    height: 12rem;
    border-radius: 8px;
    border: 2px solid black;
    overflow: hidden;
}

.proyect-card a {
    display: grid;
    place-content: center;
    position: absolute;
    width: 3.3em;
    aspect-ratio: 1;
    background-color: black;
    color: white;
    top: 0;
    right: 0;
    border-radius: 0 0 0 50px;
    cursor: pointer;
    transition: all 500ms;
}

.proyect-card a:hover {
    background-color: var(--accent-color);
}


.proyect-card .quote {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    height: 2rem;
    width: 100%;
    text-align: center;
    background-color: hsla(0, 0%, 0%, 0.5);
    color: whitesmoke;
    position: absolute;
    font-family: var(--paragraph-font);
}

.proyect-card img {
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* contact */

.button-container {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 2rem;
}

.button-container a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5rem;
    color: var(--accent-color);
    font-family: var(--paragraph-font);
    transition: color 1.5s 100ms;
}

.contact-button {
    position: relative;
    padding: 15px 30px;
    background-color: transparent;
    border: 4px solid var(--accent-color);
    overflow: hidden;
    cursor: pointer;
}

.contact-button::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--accent-color);
    left: -100%;
    top: 0;
    z-index: -1;
    transition: left 900ms, background-color 300ms;

}

.contact-button:hover::before,
.contact-button:hover a {
    left: 0;
    color: whitesmoke;
}

.contact-button:active::before {
    background-color: var(--seccondary-color);
}


/*footer style*/

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    color: whitesmoke;
    background-color: var(--main-color);
    gap: 5px;
    height: 4rem;
    width: 100%;
    font-family: var(--paragraph-font);
}

