@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Press+Start+2P&family=Silkscreen&display=swap');

/* https://coolors.co/b81200-050517-17a398 */

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-heading-font: 'Press Start 2P';
    --heading-font: 'Silkscreen';
    --paragraph-font: 'Josefin Sans';
    --main-color: black;  
    --seccondary-color: maroon;
    --accent-color: #b3051c;
    scroll-behavior: smooth;
    scroll-padding-top: 4rem;
    color-scheme: dark;
}

/* global styles */


/* body {
    background-color: #000000;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='435' height='435' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23050538' stroke-width='4'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23081531'%3E%3Ccircle cx='769' cy='229' r='11'/%3E%3Ccircle cx='539' cy='269' r='11'/%3E%3Ccircle cx='603' cy='493' r='11'/%3E%3Ccircle cx='731' cy='737' r='11'/%3E%3Ccircle cx='520' cy='660' r='11'/%3E%3Ccircle cx='309' cy='538' r='11'/%3E%3Ccircle cx='295' cy='764' r='11'/%3E%3Ccircle cx='40' cy='599' r='11'/%3E%3Ccircle cx='102' cy='382' r='11'/%3E%3Ccircle cx='127' cy='80' r='11'/%3E%3Ccircle cx='370' cy='105' r='11'/%3E%3Ccircle cx='578' cy='42' r='11'/%3E%3Ccircle cx='237' cy='261' r='11'/%3E%3Ccircle cx='390' cy='382' r='11'/%3E%3C/g%3E%3C/svg%3E");
} */

p {
    max-width: 60ch;
    font-size: 1.1rem;
    font-family: var(--paragraph-font), sans-serif;
}

h1 {
    color: whitesmoke;
    font-family: var(--main-heading-font), cursive;
    text-transform: capitalize;
    border-radius: 100vmax;
    backdrop-filter: blur(5px);
    padding: 15px;
}

h2 {
    font-family: var(--heading-font), cursive;
}

.proyects-section h2,
.tech-section h2 {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 3rem;
}

li {
    list-style: none;
}

section {
    margin: 3rem;
}

section h2 {
    margin-bottom: .6rem;
}

/* navbar styles */

#navgap {
    height: 50px;
    width: 100%;
}

.main-nav {
    display: flex;
    width: 100%;
    height: 50px;
    position: fixed;
    background-color: var(--main-color);
    z-index: 1;
    top: 0;
}

.main-nav a {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    color: whitesmoke;
    position: relative;
    text-decoration: none;
    text-transform: capitalize;
    font-family: var(--paragraph-font), sans-serif;
    font-size: 1.2rem;
    overflow: hidden;
}

.main-nav li {
    display: flex;
    align-items: center;
    height: 100%;
}

.main-nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: max(800px, 100%);
    margin-left: 1rem;
}

.main-nav li a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 40%;
    background-color: whitesmoke;
    bottom: 13px;
    right: -100%;
    transition: all 400ms;
}

.main-nav li:hover a::before {
    right: 0;
} 

.menu-container {
    display: flex;
    width: 30%;
    justify-content: flex-end;
    align-items: center;
}

.options-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    opacity: 0;
    position: fixed;
    z-index: -1;
    top: -270px;
    right: 1rem;
    transition: all 1s;
}

.options-menu span {
    padding: 20px 30px;
    font-size: 1.3rem
}

#menu {
    margin-right: 30px;
    background: none;
    border: none;
    cursor: pointer;
    border-radius: 10px;   
}

#menu svg {
    color: whitesmoke;
    transition: all 1s;
}

#menu:focus svg{
    rotate: 360deg;
}

.menu-container:focus-within ~ .options-menu {
    top: 50px;    
    opacity: 1;
}

/* hero and banner styles */

#hero {
    display: flex;
    flex-wrap: wrap;
    height: 30rem;
    align-items: center;
    justify-content: space-around;
    background-image: url(/resources/imgs/hero-img.jpg);
    background-size: cover;

}

#slider {
    display: flex;
    align-items: center;
    justify-content: center;
}

#slider > svg {
    color: var(--accent-color);
    cursor: pointer;
}

.img-container {
    display: flex;
    height: 14rem;
    width: 14rem;
    margin: 0 7px 0 0;
    overflow: hidden;
}

/* about me styles */

.about-me {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap: 4rem;
}

.circle-img {
    margin-top: 2rem;
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    padding: 30px;
    border: 5px solid var(--accent-color);
    background-image: url(/resources/imgs/con-un-abanico.jpeg);
    background-size: cover;
}

/* tech section styles */

.tech-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 4rem;
}

.technology-card {
    height: 13rem;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.technology-card img {
    width: auto;
    height: 100%;
}

.tech-info {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff00;
    position: absolute;
    bottom: -100%;
    transition: transform 1s ease, color 500ms 1s;
}

.tech-info.high {
    background-color: hsla(120, 84%, 50%, 0.87);
}

.tech-info.intermediate {
    background-color: hsla(39, 99%, 46%, 0.87);
}

.tech-info.low {
    background-color: hsla(0, 91%, 31%, 0.87);
}

.technology-card:hover .tech-info {
    transform: translateY(-100%);
    color: white;
}

/* proyects section style */

.proyects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 2rem;
}

.proyect-card {
    display: flex;
    position: relative;
    align-items: center;
    width: 20rem;
    height: 12rem;
    border-radius: 8px;
    border: 2px solid black;
    overflow: hidden;
}

.proyect-card::before {
    content: url(/resources/assets/got_to.svg);
    display: grid;
    place-content: center;
    position: absolute;
    width: 3.6rem;
    aspect-ratio: 1;
    background-color: white;
    top: 0;
    right: 0;
    filter: invert();
    border-radius: 0 0 0 50px;
    cursor: pointer;
}

.proyect-card .quote {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    height: 2rem;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    font-family: var(--paragraph-font);
}

.proyect-card img {
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* contact */

.button-container {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 2rem;
}

.button-container a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5rem;
    color: var(--accent-color);
    font-family: var(--paragraph-font);
    transition: color 1.5s 100ms;
}

.contact-button {
    position: relative;
    padding: 15px 30px;
    background-color: transparent;
    border: 4px solid var(--accent-color);
    overflow: hidden;
    cursor: pointer;
}

.contact-button::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--accent-color);
    left: -100%;
    top: 0;
    z-index: -1;
    transition: left 900ms, background-color 300ms;

}

.contact-button:hover::before,
.contact-button:hover a {
    left: 0;
    color: whitesmoke;
}

.contact-button:active::before {
    background-color: var(--seccondary-color);
}


/*footer style*/

footer {
    background-color: var(--main-color);
    height: 6rem;
    width: 100%;
}